body{
	background-image: url("white.png");
	font-size: 20px;
}
td {
	background-color: White;
	padding: 10px;
}
div {
	height: 250px;
	width: 400px;
	
	position: absolute;
	left: 50%;
	top: 50%;
	
	margin-top: -175px;
	margin-left: -300px;
	padding: 50px 100px;
	
	border-style: solid;
	background-color: White;
	border-color: WhiteSmoke LightGray DarkGray LightGray;
}
th {
	background-color: PowderBlue;
}
dl,dd,dt,ul,li { margin:0; padding:0; list-style:none;}
#wenzhang { width:1000px; text-align:left; font-size:24px;border-left:1px solid #dedede;border-right:1px solid #dedede; border-bottom:1px solid #dedede;}
#wenzhang  dd dl dt { border-top:1px solid #dedede; background:#f2f2f2; height:25px; line-height:25px; font-weight:bold;}
#wenzhang ul li {border-top:1px solid #efefef; line-height:25px; background:#f9f9f9;}
